@model DevonDalrympleUnitConverter.MVC.Models.AveragePhoneCapacityModel

@{
    ViewData["Title"] = "Average Phone Capacity To Tons Of TNT Conversions Page";
}

<br />
<div>
    <a asp-controller="Conversions" asp-action="" class="btn btn-info">Go Back</a>
    <h3>Your Conversion has Completed</h3>

    @if (@Model == null)
    { 
        <h3>Average Phone Capacity: @ViewData["AveragePhoneCharge"]</h3>
        <h3>Tons Of TNT: @ViewData["TonsOfTNT"]</h3>
    }
    else
    {
        <h3>Average Phone Capacity: @Model.AveragePhoneCapacity</h3>
        <h3>Tons Of TNT: @Model.OutputValue</h3>
    }

    
</div>