@model DevonDalrympleUnitConverter.MVC.Models.MilesModel

@{
    ViewData["Title"] = "Miles to Kilometers Conversions Page";
}

<br />
<a asp-controller="Conversions" asp-action="" class="btn btn-info">Go Back</a>
<h3>Your Conversion has Completed</h3>

@if (@Model == null)
{ 
    <h3>Miles: @ViewData["Miles"]</h3>
    <h3>Kilometers: @ViewData["Kilometers"]</h3>
}
else
{
    <h3>Miles: @Model.Miles</h3>
    <h3>Kilometers: @Model.OutputValue</h3>
}

