@{
    ViewData["Title"] = "Home Page";

}

<img src="https://i.pinimg.com/originals/c3/21/a6/c321a6ab98cf6cf952f820bab33b3713.png" alt="Unit Conversions Picture"/>

<p style="font-style: italic; margin-top: 5em; color:white; font-size: 2em;">The background color is Spring Green with a hex of #00FF99!</p>

<a asp-controller="Conversions" asp-action=""><h2>Unit Conversions Here</h2></a>
