@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<pre>In this site, every cookie in existance will be used.
By continuing to this site, you agree to these very fair terms.
Note: This site is not responsible for any damages caused by cookies, malicious or not.
Note 2: This site is not associated with the disapperance of Billy, Sarah, Jennifer, or Bill Nye the Science Guy.
Note 3: No we are not secretely building cobalt bombs, yet.
Note 4: We come in peace...

P.S. The cake is a lie!</pre>
