<form #insertTakenOrder="ngForm" id="insertTakenOrder" (ngSubmit)="submit(insertTakenOrder)">
    <div class="card">
        <div class="card-header text-center fw-bold">Insert a Table's Order</div>
        <div class="card-body text-center">
            <div class="row">
                Which Table:
                <p-dropdown [(ngModel)]="tableId" [options]="currStatus!.Tables" name="tableId" optionLabel="id" optionValue="id" 
                *ngIf="availableTables && currStatus"></p-dropdown>
            </div>
            <hr>
            <div class="row">
                Order Description: (Min: 10)
                <textarea [rows]="10" [cols]="30" 
                    pInputTextarea [autoResize]="true"
                    [(ngModel)]="orderDescription" name="orderDescription"></textarea>
            </div>           
        </div>
        <div class="card-footer row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <button class="btn btn-primary m-100" type="submit" *ngIf="!isLoading" 
                    [title]="availableTables && orderDescription.length >= 10 ? 'Submit' : 'Tables must be available and the order needs at least 10 characters'" 
                    [disabled]="!availableTables || (orderDescription.length < 10)">Insert Order for Table</button>
                <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</form>
